/*Tratamento inicial da pagina de margem e padding*/
*{
    margin: 0;
    padding:0;
}
/*Formatção do body da pagina, com imagem de fundo e suas propriedades*/
.pag01{
    background-image:url(../imagens/pessoas-correndo-ao-ar-livre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}
.saudetrabalho{
    background-image: url(../imagens/trabalho_G.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    display: flex;
    min-height: 100vh;
    background-position: top center;
    background-size: 100% 450px; 
}

/*reponsividade do corpo da pagina*/
@media only screen and (max-width: 600px) {
    .pag01 {
        font-size: 14px;
        background-size: auto;
        background-repeat: no-repeat;

    }
    .saudetrabalho{
        background-size: auto;
        background-repeat: no-repeat;
    }
}
/*Formato de todas as tag h1 com fonte e tamanho da fonte*/
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
/*Cor dos icones e das tags h1*/
.inicio i, h1{
    color: white;
}
/*Cor e tamanho das fontes das tags p*/
.inicio p{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*display do conteiner inicio*/
.inicio{
    display: flex;
}
/*posicionamento da tag h1 do conteiner inicio*/
.inicio h1{
    margin-top: 40%;
    margin-left: 30%;
}
/*posicionamento da tag p do conteiner inicio*/
.inicio p{
    margin-top: 53%;
    margin-left: -65%;
}
/*posicionamento dos icones do conteiner inicio*/
.inicio i{
    margin-top: 40%;
    margin-left: 0%;
    font-size: 80px;
}
/* Media query para telas menores */
@media screen and (max-width: 600px) {
    /*Formato a fonte do título para telas menores */
    h1 {
        font-size: 50px;
    }

    /*Formato a fonte do parágrafo para telas menores */
    .inicio p {
        font-size: 26px;
    }

    /*Ajuste de espaçamento entre o ícone e o título para telas menores */
    .inicio i {
        margin-top: 20px;
    }

}
/*Formato da barra de pesquisa com tamanho, posição e outras propriedades de layot*/
.buscar-box{
    margin-top: 3%;
    margin-left: 35%;
    width: 80px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 0%;
    transition: .5s;
}
/*quando a barra de pesquisa for ativa ela irá assumir essas novas propriedades para sair da lupa e mostrar a caixa de pesquisa*/
.buscar-box.ativar{
    width: 25%;
    max-width: 300px;
    background-color: white;
    border-radius: 7px;
}
/*propriedades dos icones de lupa e de fechar barra de pesquisa*/
.buscar-box .lupa-buscar,.buscar-box .btn-fechar{
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    position: relative;

}
/*tamanho da lupa*/
.buscar-box .lupa-buscar i{
    font-size: 30px;
}
/*propriedades da caixa barra de busca*/
.buscar-box .input-buscar{
    position:absolute;
    left: 40px;
    right: 80px; 
    height: 100%;
    line-height: 40px;
}
/*propriedades do input da barra de busca*/
.buscar-box .input-buscar input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    opacity: 0;
}
/*deixar o input visivel apenas quando estiver ativado*/
.buscar-box.ativar .input-buscar input{
    opacity: 100;
}
/*propriedades do iconce de fechar*/
.buscar-box .btn-fechar{
    font-size: 20px;
    margin-left: 10px;
    opacity: 0;
    color: black;
}
.buscar-box.ativar .lupa-buscar{
    color: black;
}
/*deixar o icone de fechar visivel apenas quando estiver ativado*/
.buscar-box.ativar .btn-fechar{
    opacity: 100%;
}
/*responsividade da barra de pesquisa*/
@media screen and (max-width: 768px) {
    .buscar-box .input-buscar {
        right: 50px; 
    }
    .buscar-box.ativar{
        max-width: 500px;
    }
}

@media screen and (max-width: 576px) {
    .buscar-box .input-buscar {
        right: 60px; 
    }
    .buscar-box.ativar{
        max-width: 500px;
    }
}
@media screen and (max-width: 375px) {
    .buscar-box .input-buscar {
        right: 40px; 
    }
    .buscar-box.ativar{
        max-width: 500px;
    }
}

@media screen and (max-width: 280px) {
    .buscar-box .input-buscar {
        right: 30px; 
    }
    .buscar-box.ativar{
        max-width: 500px;
    }
}
#scroll{
    overflow-x: scroll;
    width: 1350px;
    height: 360px;
    display: flex;
    margin-top: 30%;
    margin-left:-85%;
    
}
#scroll div{
    margin-left: 5%;
}
div img{
    max-width: 250px;
    max-height: 360px;
    height: 280px;
    width: 200px;
}
div p{
    font: size 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.texto p, .texto h1{
    color: black;

}
.texto{
    margin-top:35%;
    margin-left: -62%;
}
